.section-about {

    animation: moveInShade 1.5s ease-in;

    position: relative;

    padding: 0 0 15rem 0;
    height: 100%;

    &--right-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    &--contain-img-2 {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }

    &--text {
        flex: 3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--fig {

        &-img {
            object-fit: contain;
            width:100%;
            height:100%;
        }

        &-img-2 {
            object-fit: contain;
            width:80%;
            height:100%;
        }
    }
}

.section-intro {

    animation: moveInShade 1.5s ease-in;

    &--signlink {

        &,
        &:link, 
        &:visited {
            display: inline-block;
            margin-left: 4rem;
            margin-top: 3rem;
    
            font-size: 3rem;
    
            color: red;
        }


        &:hover {
            @include focused-text;
        }
    }
    
}