.applicant-demo {

    animation: moveInShade 1.5s ease-in;

    &--signlink {

        &,
        &:link, 
        &:visited {
            display: inline-block;
            margin-left: 4rem;
            margin-top: 3rem;
    
            font-size: 3rem;
    
            color: red;
        }


        &:hover {
            @include focused-text;
        }
    }
    
}